.group-13861 .line-copy-4 {
  position: absolute;
  top: 1187.3px;
  right: 0px;
  width: 1353.3px;
  height: 5px;
}
.group-13861 .line-copy-5 {
  position: absolute;
  top: 1402.3px;
  right: 0px;
  width: 1353.3px;
  height: 5px;
}
.group-13861 .line-copy-6 {
  position: absolute;
  top: 1617.3px;
  right: 0px;
  width: 1353.3px;
  height: 5px;
}
.group-13861 .line-copy-3 {
  position: absolute;
  top: 967.3px;
  right: 0px;
  width: 1353.3px;
  height: 6px;
}
.group-13861 .line-copy-2 {
  position: absolute;
  top: 749.3px;
  right: 0px;
  width: 1353.3px;
  height: 5px;
}
.group-13861 .line-copy {
  position: absolute;
  top: 529.3px;
  right: 0px;
  width: 1353.3px;
  height: 7px;
}
.group-13861 .line {
  position: absolute;
  top: 310.3px;
  right: 0px;
  width: 1353.3px;
  height: 6px;
}
.group-13861 .personality {
  position: relative;
  margin-bottom: 118.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 64px;
  letter-spacing: -1.4px;
  line-height: 1.5;
  color: #000000;
}
.group-13861 .introvert {
  margin-right: 30px;
  width: 1148.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .extrovert {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .container-6 {
  position: relative;
  margin: 0 0px 18.9px 0.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1353.3px;
  box-sizing: border-box;
}
.group-13861 .vector {
  border-radius: 100px;
  position: relative;
  margin: 0 0 78.1px 11px;
  width: 114.9px;
  height: 57px;
}
.group-13861 .analytical {
  margin-right: 30px;
  width: 1163.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .creative {
  margin-right: 0px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .container-5 {
  position: relative;
  margin: 0 0px 18px 0.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1353.3px;
  box-sizing: border-box;
}
.group-13861 .vector-1 {
  border-radius: 100px;
  position: relative;
  margin: 0 0 80px 22.3px;
  width: 114.9px;
  height: 57px;
}
.group-13861 .busy {
  margin-right: 30px;
  width: 1147.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .time-rich {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .container {
  position: relative;
  margin: 0 0px 21px 0.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1353.3px;
  box-sizing: border-box;
}
.group-13861 .vector-2 {
  border-radius: 100px;
  position: relative;
  margin: 0 0 76px 22.3px;
  width: 114.9px;
  height: 57px;
}
.group-13861 .messy {
  margin-right: 30px;
  width: 1127.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .organized {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .container-3 {
  position: relative;
  margin: 0 0 24.6px 0.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1353.3px;
  box-sizing: border-box;
}
.group-13861 .vector-3 {
  border-radius: 100px;
  position: relative;
  margin: 0 0 72.4px 22.9px;
  width: 114.9px;
  height: 57px;
}
.group-13861 .independent {
  margin-right: 30px;
  width: 1094.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .team-player {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .container-2 {
  position: relative;
  margin: 0 0px 28.3px 0.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1353.3px;
  box-sizing: border-box;
}
.group-13861 .vector-4 {
  border-radius: 100px;
  position: relative;
  margin: 0 0 69.7px 16.9px;
  width: 114.9px;
  height: 57px;
}
.group-13861 .independent-1 {
  margin-right: 30px;
  width: 1202.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .team-player-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .container-1 {
  position: relative;
  margin: 0 0px 28.3px 0.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1353.3px;
  box-sizing: border-box;
}
.group-13861 .vector-5 {
  border-radius: 100px;
  position: relative;
  margin: 0 0 69.7px 22.9px;
  width: 114.9px;
  height: 57px;
}
.group-13861 .independent-2 {
  margin-right: 30px;
  width: 1220.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .team-player-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 1.5;
  color: #181818;
}
.group-13861 .container-4 {
  position: relative;
  margin: 0 0px 28.3px 0.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1353.3px;
  box-sizing: border-box;
}
.group-13861 .vector-6 {
  border-radius: 100px;
  position: relative;
  margin-left: 22.9px;
  width: 114.9px;
  height: 57px;
}
.group-13861 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1353.8px;
  box-sizing: border-box;
}
